<!Doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layouts/layout :: layout(vCenter='false', currentPage='bangla-qr-code-details')}">

<body>
<div layout:fragment="content" class="main-content"  style="width: 220%">
    <div style="display: flex;">
        <div style=" width: 100%; padding: 35px; background-color: #F9F9F9;">
            <h5 style="font-weight: normal; font-size: 20px; margin-top: 0px; margin-bottom: 8px">
                Bangla QR Code Details Report</h5>

            <div style="margin-top: 20px;" sec:authorize="hasAnyRole('ROLE_EDIT')">
                <label for="fileType">Download data table :</label>
                <select th:id="fileType" required>
                    <option disabled selected value="">Choose a file type</option>
                    <option value="csv">CSV</option>
                    <option value="xls">XLS</option>
                    <option value="xlsx">XLSX</option>
                </select>
                <button onclick="downloadFile('details')" class="btn btn-sm submit-button">Download</button>
            </div>

            <div class="d-none" th:id="error-modal">
                <h5 style="font-size: 15px" class="modal-title confirmation-note-text-danger">Error</h5>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-borderless custom-table-design shadow-sm"
                       style="border-collapse: collapse; width: 100%; margin-top: 20px; font-size: 80%;text-align: center; background-color: #FFFFFF; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;">
                    <thead id="bangla-qr-code-table" data-id='details'
                           th:attr="data-caseText=${caseText}, data-startDate=${startDate}, data-endDate=${endDate}, data-reasonType=${reasonType},
                           data-page=${page}, data-pageSize=${pageSize}" >
                    <tr>
                        <th style="background-color: #ed969e; color: #FFFFFF; font-weight: normal; padding: 10px" colspan="18">BB</th>
                        <th style="background-color: #ff8000; color: #FFFFFF; font-weight: normal; padding: 10px" colspan="18">CPS</th>
                    </tr>
                    <tr>
                        <th style="background-color: #FF0000; color: #FFFFFF; font-weight: normal; padding: 10px">Case Type</th>
                        <th style="background-color: #FF0000; color: #FFFFFF; font-weight: normal; padding: 10px">TRX Type</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Transaction Date</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Type</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Country</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant City</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Name</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Id</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Contract No</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Member Id</th>
                        <th style="background-color: #FF0000; color: #FFFFFF; font-weight: normal; padding: 10px">RRN</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Amount</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Source Type</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Bin Type</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Fee Percent</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Fee Amount</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Platform Fee Percent</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Platform Fee Amount</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Initiate Date Time</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Date</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Time</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Customer Wallet No</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant PAN</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Name</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Type</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">MCC</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Acquire Name</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Trx Amount</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Fee Amount</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Trx Id bKash</th>
                        <th style="background-color: #FF0000; color: #FFFFFF; font-weight: normal; padding: 10px">RRN</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Trx Status</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Merchant Location</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Reason Type</th>
                        <th style="background-color: #60626A; color: #FFFFFF; font-weight: normal; padding: 10px">Trx Type</th>
                    </tr>
                    </thead>
                    <tbody id="bangla-qr-code-table-body">
                    <tr>
                    </tr>
                    </tbody>
                </table>


                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Dark Overlay element for sidebar -->
    <div class="sidebar-overlay"></div>
</div>

<th:block layout:fragment="scripts">
    <script th:src="@{/js/bangla.qr.code.js}"></script>
</th:block>
</body>
</html>